.orderCard {
    display: flex;
    row-gap: 24px;
    flex-direction: column;
    background: rgba(47, 47, 55, 1);
    border-radius: 40px;
    padding: 24px;
    margin-right: 8px;
}

.orderHeader {
    display: flex;
    justify-content: space-between;
}

.statusDone {
    color: rgba(0, 204, 204, 1);
}

.orderIngredients {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.orderImageBox {
    width: 64px;
    margin-right: -20px;
    position: relative;
    z-index: 1;
    height: 64px;
    border-radius: 100%;
    border: 2px;
    border: 1px solid rgba(128, 26, 178, 1);
    border-width: 2px;
    background: rgba(28, 28, 33, 1);
    overflow: hidden;

    &:nth-child(1) {
        z-index: 6;
    }

    &:nth-child(2) {
        z-index: 5;
    }

    &:nth-child(3) {
        z-index: 4;
    }

    &:nth-child(4) {
        z-index: 3;
    }

    &:nth-child(5) {
        z-index: 2;
    }
}

.orderPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.counter {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(28, 28, 33, 0.6);
    top: 0;
    left: 0;
}

.orderPrice {
    display: flex;
    justify-content: center;
}

.orderPictures {
    display: flex;
}