.OrderInfoContainer {
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    margin-top: -48.2px;
}

.OrderInfoPage {
    margin: auto;
    width: 640px;
}

.OrderInfoNumber {
    text-align: left;
    margin: 0;
    padding: 0;
}

.OrderInfoStatusDone {
    color: rgba(0, 204, 204, 1);
}

.OrderInfoPicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.OrderInfoImgbox {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 2px;
    border: 1px solid rgba(128, 26, 178, 1);
    border-width: 2px;
    background: rgba(28, 28, 33, 1);
    overflow: hidden;
}

.OrderInfoCards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 312px;
    overflow-y: auto;
}

.OrderInfoCardinfo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.OrderInfoCard {
    display: flex;
    justify-content: space-between;
}

.OrderInfoPrice {
    display: flex;
    align-items: center;
}

.OrderInfoTotalprice{
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.Test {
    text-align: center;
}