.section {
    position: relative;
    max-width: 620px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.list {
    max-height: 720px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.burger-bun {
    display: flex;
    flex-direction: row;
    row-gap: 16px;
    max-width: 536px;
    width: 100%;
}

.order {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-bottom: 52px;
}

.total {
    display: flex;
    column-gap: 8px;
}