.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

.constContainer {
    margin-left: 42px;
}

.dropBox {
    transition: 1s;
    height: 100%;
    border-radius: 80px;
    max-height: calc(100% - 125px);
}

.dropBoxOver {
    /*box-shadow: 0px 4px 32px 0px rgba(128, 26, 178, 0.70), 0px 0px 8px 8px rgba(128, 26, 178, 0.30), 0px 0px 16px 8px rgba(128, 26, 178, 0.30);*/
    box-shadow:
        0 4px 32px 0 rgba(51, 51, 255, 0.7),
        0 0 8px 8px rgba(51, 51, 255, 0.3),
        0 0 16px 8px rgba(51, 51, 255, 0.3);
}

.dropBoxOver1 {
    box-shadow:
        0 4px 32px 0 rgba(128, 26, 178, 0.35),
        0 0 8px 8px rgba(128, 26, 178, 0.15),
        0 0 16px 8px rgba(128, 26, 178, 0.15);
    transition: 1s;
}

.dropBoxT {
    border: none;
}