.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image{
    max-width: 120px;
    max-height: 120px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}