.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.text {
  color: #8585ad;
}
