.orderDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image {
    width: 120px;
    height: 120px;
}

.orderWait {
    color: var(--text-dark-grey-secondary-text, #8585AD);
}