.burgerConstTotal {
    max-height: 500px;
    overflow: auto;
    padding: 0 10px;
    margin: 0;
}
.list {
    padding: 0;
    list-style-type: none;
}
.totalContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}
.elementTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 534px;
    background: var(--interface-modal-bg, #1c1c21);
    box-sizing: border-box;
    border-radius: 40px;
}
.elementImage {
    width: 80px;
    height: 40px;
}
.elementTitle {
    display: flex;
    width: 310px;
    height: 40px;
    align-items: center;
}
.containerPrice {
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
