.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}

.main {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  column-gap: 40px;
}