.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
  align-items: center;
}

.main {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  column-gap: 40px;
  flex-direction: row;
}

.formContainer {
  box-sizing: border-box;
  margin: 288px auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}