.profileSection {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
}

.profilePanel {
    max-width: 320px;
    padding-left: 20px;
}

.profileUl {
    list-style: none;
    margin: 0;
    padding: 120px 0 80px 0;
}

.defaultNavLink {
    display: flex;
    line-height: 64px;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    opacity: 1;
}

.active {
    color: inherit;
}

.defaultNavLink:hover {
    opacity: 0.8;
}
