.feedContainer {
    width: 1280px;
    margin: 0 auto;
}

.feedHeader {
    width: 100%;
    padding-left: 18px;
}

.feedOrder {
    width: 100%;
    max-width: 608px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 852px;
    overflow-y: auto;
}

.feedTotal {
    width: 100%;
    max-width: 580px;
}

.feedMain {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.feedLink {
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
}