.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 78px;
    align-items: center;
}

.inputContainer {
    max-width: 829px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input {
    max-width: 377px;
    width: 100%;
}

.button {
    display: flex;
    width: 119px;
}

.inputSection {
    display: flex;
    max-width: 630px;
    width: 100%;
    justify-content: space-between;
    column-gap: 12px;
}

.addButton {
    display: flex;
    width: 121px;
}

.deleteButton {
    display: flex;
    width: 108px;
}

.circlesBox {
    display: flex;
    column-gap: 16px;
    padding: 0;
    margin: 0;
    max-width: 944px;
    width: 100%;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    row-gap: 68px;
}