.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.modalContainer {
    position: relative;
    z-index: 20;
    width: 720px;
    max-height: 718px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 40px;
    border-radius: 40px;
    border: 1px solid var(--interface-modal-edge, rgba(76, 76, 255, 0.2));
    background: var(--interface-modal-bg, #1c1c21);

    /* card/x-large */
    box-shadow:
        0px 0px 1px 0px rgba(0, 0, 0, 0.04),
        0px 4px 8px 0px rgba(0, 0, 0, 0.04),
        0px 16px 24px 0px rgba(0, 0, 0, 0.04),
        0px 24px 32px 0px rgba(0, 0, 0, 0.04);
}

.modalTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
