.detailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.detailImage {
    width: 480px;
    height: 240px;
}

.detailDescription {
    margin: 0;
}

.values {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-items: center;
    column-gap: 20px;
    row-gap: 8px;
}

.text {
    margin: 0;
}

.calories {
    grid-column: 1;
    grid-row: 2;
}

.proteins {
    grid-column: 2;
    grid-row: 2;
}

.fat {
    grid-column: 3;
    grid-row: 2;
}

.carbohydrates {
    grid-column: 4;
    grid-row: 2;
}

.title {
    margin-top: 120px;
}