.card{
    display: flex;
    flex-direction: column;
   
    width: 100%;
    max-height: 208px;
    height: 100%;
    align-items: center;
    padding-bottom: 40px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}
.card:active{
    border: none;
}


.price{
    display: flex;
    gap: 8px;
    border: none;
}
.name-card{
    text-align: center;
}