.PFCont {
  width: 1280px;
  margin: 0 auto;
}

.PFHeader {
  width: 100%;
  padding-left: 18px;
}

.PFContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 852px;
  overflow-y: auto;
  max-width: 100%;
  margin-right: 40px;
  padding-left: 60px;
}

.PFLink {
  text-decoration: none;
  color: rgba(242, 242, 243, 1);
}