.burger-menu{
    display: flex;

}

.section{
    max-width: 620px;
    display: flex;
    flex-direction: column;
}
.burger-card{
    max-width: 600px;
    width: 100%;
    max-height: 720px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    column-gap: 40px;
}