.currencyContainer {
    display: flex;
    align-items: center;
}

.cardPhoto {
    width: 240px;
    height: 120px;
    margin: 0;
    padding: 0;
}

.cardList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    margin: 0 auto;
    gap: 32px 24px;
}

.listElement {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cardDescription {
    width: 272px;
    height: 24px;
    margin: 0;
    text-align: center;
}

.currencyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardPrice {
    max-width: 100px;
    height: 24px;
}