.ingredientsScroll {
    max-height: 700px;
    overflow: auto;
    padding: 0 10px 10px 10px;
    max-width: 600px;
}

.cardContainer {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

